html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
    
*{
    margin:0px;
    padding:0px;
    text-indent:0px;
}

body{ 
    background-image: url('./../images/y-so-serious-white.png');
	padding:2vw;
}

main{
    padding-left:10%;
    padding-right:10%;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top: 50px;
    border: 1px;
    box-shadow: 0px 0px 5px 1px grey;
    background: white;
}

.simple-box {
    border: 2px solid lightgrey;
    background: lightgrey;
    box-shadow: 0px 8px 5px 1px grey;
    padding: 10px;
    margin-bottom: 30px;
}
